<?xml version='1.0' encoding='utf-8'?>
<widget id="com.quareal.blank" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MCGL</name>
    <description>
        Minecraft Galaxy Forum
    </description>
    <author email="GELMESHIK@mcgl.ru" href="http://forum.minecraft-galaxy.ru/profilemain/24325">
        GELMESHIK
    </author>
    <content src="index.html" />
    <access origin="*" />
	<allow-navigation href="http://*.minecraft-galaxy.ru/*" />
</widget>
